<span style="float:left;font-size:30px;margin-left:10px">Welcome, <%= @user.email %>!</span><button data-no-turbolink style="float:right; display:block; font-size:30px; margin-right:10px"><%= link_to "Track New Item", new_transaction_path%></button>
<br>
<br>
<br>
<h4>Your Tracked Purchases</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Target Price</th>
      <th>Current Price</th>
      <th>Savings</th>
      <th>Purchased On</th>
      <th>Watch Until</th>
    </tr>
  </thead>
  <tbody>
  <% @user.transactions.first(10).each do |t|%>
    <tr>
      <% t.update_price %>
      <td><%= link_to t.name, t.listing_url %></td>
      <td><%= "$#{(t.purchase_price/100).to_s}" %></td>
      <td><%= "$#{t.target_price.to_s}" %></td>
      <td style="color:green"><%= t.format_price %></td>
      <td><%= t.current_savings %></td>
      <td><%= t.start_date.to_s(:long) %></td>
      <td><%= t.end_date.to_s(:long) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
