<h2><%= @user.email %></h2>
<h5>Your Tracked Purchases</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Target Price</th>
      <th>Current Price</th>
      <th>Spread</th>
      <th>Purchased On</th>
      <th>Watch Until</th>
    </tr>
  </thead>
  <tbody>
  <% @user.transactions.first(10).each do |t|%>
    <tr>
      <td><%= link_to t.name, t.listing_url %></td>
      <td><%= "$#{t.purchase_price.to_s}" %></td>
      <td><%= "$#{t.target_price.to_s}" %></td>
      <td style="color:green"><%= t.current_price %></td>
      <td><%= t.purchase_price - t.current_price%></td>
      <td><%= t.start_date.to_s(:long) %></td>
      <td><%= t.end_date.to_s(:long) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
